/* =========== Global =========== */

html, body, #container {
    height: 100%;
    font-family: 'Montserrat', sans-serif;

}
a, a:visited {
    color: #00376b;
    text-decoration: none;
}
body, input, textarea {
    color: #262626;
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 14px;
    line-height: 18px;
}
button {
    margin: 0;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
#container, article, div, footer, header, main, nav, section {
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
}


/* =========== main =========== */

/* main phone instagram app layout */
.mainPhotoLayout {
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    margin: 32px auto 0;
    max-width: 935px;
    padding-bottom: 32px;
    width: 100%;
}
/* icon imeages */
.combinedImages {
    background-image: url(images/images.png);
}

/* section ----------------- */
/* ._9eogI {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
} */

/* fill the entire page  */
.sectionEntirePart {
    min-height: 100vh;
    overflow: hidden;
}

/* main ----------------- */
/* Fill background color when resizing */
.fillBgColor {
    flex-grow: 1;
    order: 4;
}
/* login outside background color from main & footer tag */
.mainBgColor, .footerBgColor {
    background-color: #fafafa;
}


/* =========== after main divs =========== */

/* .qF0y9 {
    display: flex;
} */
/* .Igw0E {
    align-content: stretch;
} */

/* login section center range */
.YBx95{
    justify-content: center;
    flex-direction: row;
}

/* .IwRSH {
    align-items: stretch;
} */
/* .eGOV_ {
    justify-content: flex-start;
} */
/* ._4EzTm {
    flex: 0 0 auto;
} */

/* main & footer top ajustment */
.mainFootTopAjust {
    margin-top: 24px;
}


/* article first div ----------------- */

/* border size center */
.borderCenter { 
    align-items: center;
    flex: 1 1 auto;
    min-width: 0;
    margin-bottom: 44px;
}
/* .i0EQd {
    overflow: hidden;
} */


/* login & join div ----------------- */
/* login div position section */
.loginPosition {
    color: #262626;
    flex-grow: 1;
    justify-content: center;
    margin-top: 12px;
    max-width: 350px;
}
/* login & sign up div bg white section */
.loginSignBgColor {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}
/* instagram logo size */
.logoSize {
    margin: 22px auto 12px;
}
/* .Szr5J {
    display: block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
} */
/* instagram logo bg picture adjustment */
.instagramLogoBgPosition {
    background-repeat: no-repeat;
    background-position: 0 -130px;
    height: 51px;
    width: 175px;
}
/* instagram login bg picture adjustment */
.loginInputSize {
    margin-bottom: 10px;
    max-width: 350px;
    width: 100%;
}
/* form section */
.formSection {
    display: flex;
    flex-direction: column;
}


/* id & pw input ----------------- */
/* id & pw size ajustment */
.idPwSize {
    margin: 0 40px 6px;
}
/* id & pw input ajustment */
.idPwInputAjust {
    align-items: center;
    background: #fafafa;
    border-radius: 3px;
    box-sizing: border-box;
    color: #262626;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    position: relative;
    width: 100%;
    /* border: 1px solid #dbdbdb; */
}
/* id & pw label ajustment */
.idPwLabelAjust {
    display: flex;
    height: 36px;
    flex: 1 0 0;
    padding: 0;
    position: relative;
    margin: 0;
    min-width: 0;
}
/* id & pw span ajustment */
.idPwSpanAjust {
    color: #8e8e8e;
    font-size: 12px;
    height: 36px;
    left: 8px;
    line-height: 36px;
    overflow: hidden;
    pointer-events: none;
    /* span text into input box */
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
    transform-origin: left;
    /* transition: ease-out; */
    user-select: none;
    /* 생략되면 ...표시 */
    white-space: nowrap;
}
/* id & pw input box ajustment */
.idPwLabelAjust .pexuQ {
    font-size: 12px;
    padding: 14px 0 2px 8px!important;
    background: #fafafa;
    border: 0;
    flex: 1 0 auto;
    margin: 0;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: 1 solid black; */
}


/* show & login in button ----------------- */
/* pw show or hidden */
.pwShow {
    align-items: center;
    flex: 0 0 auto;
    flex-direction: row;
    height: 100%;
    padding-right: 8px;
    vertical-align: middle;
}
/* button ajustment */
.sqdOP {
    appearance: none;
    background: 0 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    text-transform: inherit;
    text-overflow: ellipsis;
    user-select: none;
    width: auto;
}
/* button text color */
/* .yWX7d._8A5w5 {
    color: #262626;
} */

/* .yWX7d._8A5w5, a.yWX7d._8A5w5, a.yWX7d._8A5w5:visited {
    color: #262626;
} */

/* show button border */
.yWX7d, .yWX7d:visited, a.yWX7d, a.yWX7d:visited {
    border: 0;
    display: inline;
    padding: 0;
    position: relative;
}
/* show button background color */
/* ._8A5w5, a._8A5w5, a._8A5w5:visited {
    background-color: transparent;
} */

/* login button font */
.L3NKy, a.L3NKy, a.L3NKy:visited {
    border-radius: 4px;
    color: #fff;
    position: relative;
}
/* log in button */
.y3zKF:not(.yWX7d), a.y3zKF:not(.yWX7d), a.y3zKF:not(.yWX7d):visited {
    border: 1px solid transparent;
    background-color: #0095f6;
}
/* login & login with fb button position */
.loginAndFbLoginPosition {
    margin: 8px 40px;
}


/* or ----------------- */
/* or line ajustment */
.orLine {
    flex-direction: row;
    margin: 10px 40px 18px;
}
/* .Z7p_S {
    margin: 10px 40px 18px;
} */
/* or lines */
.bothSideLines {
    background-color: #dbdbdb;
    height: 1px;
    width: 105px;
    position: relative;
    top: 0.45em;
}
/* or words */
.orWords {
    color: #8e8e8e;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    margin: 0 18px;
    text-transform: uppercase;
}


/* login with facebook ----------------- */
/* login with fb position  */
.loginWithFb {
    background-repeat: no-repeat;
    background-position: -414px -259px;
    height: 16px;
    width: 16px;            
}
/* facebook icon */
.fbIcon {
    display: inline-block;
    margin-right: 8px;
    position: relative;
    top: 3px;            
}
/* login with fb font */
.loginWFbFont {
    color: #385185;
    font-weight: 1200;
}

/* forgot password ----------------- */
/* forgot pw */
.forgotPw, .forgotPw:hover, .forgotPw:active, .forgotPw:visited {
    color: #00376b;
    font-size: 12px;
    line-height: 16px;
    margin-top: 12px;
    text-align: center;
}



/* sign up ----------------- */

/* ._7UhW9 {
    font-size: 12px;
    line-height: 16px;
    margin: -2px 0 -3px;
} */
/* .xLCgt {
    font-size: 14px;
    line-height: 18px;
    margin: -3px 0 -4px;
} */
/* .MMzan {
    font-weight: 400;
} */

/* font color */
._0PwGv {
    color: #8e8e8e;
}
/* .uL8Hv {
    display: block;
} */

/* sign up border size */
.signUpBorderSize{
    color: #262626;
    font-size: 14px;
    margin: 15px;
    text-align: center;
}
/* sign up font */
.signFont {
    font-weight: 600;
    color: #0095f6;

}

/* ._7UhW9 ._7UhW9, .se6yk {
    display: inline!important;
    margin: 0!important;
} */


/* get app ----------------- */
/* get app p position */
.getAppP {
    color: #262626;
    font-size: 14px;
    line-height: 18px;
    margin: 10px 20px 10px 20px;
    text-align: center;
}
/* app download div buttons */
.getAppDownload{
    flex-direction: row;
    justify-content: center;
    margin: 10px 0 10px 0;
}
/* app download a distance */
.appDownloadDistance {
    margin-right: 8px;
}
/* app download img size */
.appDownloadImg{
    height: 40px;
}

/* footer links ----------------- */
/* footer stays down*/
.footPosition {
    order: 5;
    padding: 0 20px;
}
/* .pC2e0 {
    background-color: #fafafa;
    padding-left: 16px;
    padding-right: 16px;
} */
/* footer bottom  */
.KokQV {
    margin-bottom: 52px;
}
/* Auto alignment when resizing */
.linksAotoAlignment {
    flex-wrap: wrap;
}
/* footer links */
.footerLinks {
    margin-right: 8px;
    margin-bottom: 12px;
    margin-left: 8px;
}
/* footer font */
.footerFont {
    font-size: 12px;
    line-height: 16px;
    margin: -2px 0 -3px;
}


/* footer Language & c name ----------------- */
/* Language & c  */
.langAcomapny {
    margin-top: 12px;
}
/* .KV-D4 {
    color: #262626;
} */
/* ._3G4x7 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: top;
} */

/* language font color */
.languageFontColor {
    color: #8e8e8e;
}
/* .bwz9f {
    font-weight: 400;
} */

/* more Lanague position */
.moreLanugePosition {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* .WKY0a {
    margin-left: 4px;
} */

 /* option list show */
.showOptionList {
    cursor: pointer;
    height: 100px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
/* language and company distance */
.langeAcompDistance {
    margin-left: 16px;
}


/* =========== Desktop verstion =========== */

@media only screen and (min-width: 876px) {

    /* main phone instagram app picture */
    .mainPhotoImg {
        align-self: center;
        background-image: url(images/instagramMainFrame.png);
        background-position: 0 0;
        background-size: 454px 618px;
        flex-basis: 454px;
        height: 618px;
        margin-left: -35px;
        margin-right: -15px;
    }
    /* position of the moveable pics */
    .movePicPosition {
        margin: 99px 0 0 151px;
        position: relative;
    }
    /* size of the moveable pics */
    .sizeMovePic {
        height: 427px;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        visibility: hidden;
        width: 240px;
    }
    
    .movePics {
        transition: opacity 1.5s ease-in;
        z-index: 2;
    }
    /* to show the moveable pics */
    .movePics, .moveNextPics {
        opacity: 1;
        visibility: visible;
    }
}